body {
    /* background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; */
  /* background-color: #2d343f; */

  background-image: url('/public/images/pattern.png');
background-size: cover;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    margin:0;
   
}



button {
    border: none;

    
}

input {
    border: none;
}

h1,
h2,
h3 {
    /* background: -webkit-linear-gradient(#ffffff, #dae0fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:#ffffff;
}


/* //welcome page  */


.text-container {
    margin: 0;
    font-size: 100px;
    color: rgba(11, 15, 77, 0.01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    /* background-image: url('/public/images/pattern.png'); */
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    /* font-family: 'Raleway', sans-serif */

}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}


.welcome {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #ffffff; */
    /* This is optional and depends on your specific layout needs */
}

/* --------------------------------------------------- */

/* signIn */
.login {
    text-align: center;
}


.signIn {
    /* background-color: #000000; */
    /* margin: auto; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* This is optional and depends on your specific layout needs */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signIn-button {
    font-weight: bold;
    padding: 7px 10px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    display: flex;
    margin:auto;
    align-items: center;
    gap: 5px;
    /* justify-content:space-between; */
}

.signIn-button:hover {
    background-color: #ffffff;
    /* Green */
    color: rgb(255, 0, 0);
    transform: scale(1.1);
}

.github {
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.github:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.googleBox,
.githubBox {
    
    background-color: rgb(5 14 30 / 59%);
    padding: 100px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 10px 10px 5px rgb(43, 70, 129);
    margin: 20px;

}


/* .googleBox:hover {
    background-image: linear-gradient(to right, rgba(221, 201, 201, 0), rgb(8, 21, 78));

} */

/* .githubBox:hover {
    background-image: linear-gradient(to right, rgba(221, 201, 201, 0), rgb(8, 21, 78));

} */

.footer{
    /* background-color: #ffffff; */
    margin: 0;
    padding: 1px;
    color:#ffffff
}





@media only screen and (max-width: 768px) {
    .signIn {
        flex-direction: column;
    }

    .text-container {
        font-size: 50px;
    }

    .googleBox,
    .githubBox {
        padding: 45px;
    }


}



.current-user-message {
    text-align: right;
  }

  @media screen and (max-width: 600px) {
    .my-element {
      max-width: 290px;
    }
    .googleBox,
    .githubBox {
        padding: 30px;
    }






  }